[program:tabi]
directory="{{ ansible_user_dir }}/tabi"
environment=HOME="{{ ansible_user_dir }}"
user={{ ansible_user_id }}
command=/usr/bin/python examples/annotation/detect_hijacks.py -c local -i mabo --registry-path registry --bgp-path bgp
autostart=true
autorestart=true
stderr_logfile=/var/log/long.err.log
stdout_logfile=/var/log/long.out.log
verbose = True

[program:HistoryBasedFileProcessingJob]
command=java -cp {{ ansible_user_dir }}/tabi/BGPSecurity/target/scala-2.11/BGPSecHistoryService.jar com.imaginea.labs.bgpsec.spark.HistoryBasedFileProcessingJob
autostart=true
autorestart=true

[program:HistoryBasedValidationApi]
command=java -cp {{ ansible_user_dir }}/tabi/BGPSecurity/target/scala-2.11/BGPSecHistoryService.jar com.imaginea.labs.bgpsec.api.HistoryBasedValidationApi
autostart=true
autorestart=true
